@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">App Delete Enfermos</h1>
    <img src="https://storagepracticapgs.blob.core.windows.net/imagenes/home.jpg"
            style="width: 400px; height: 550px"/>
</div>
